{% extends "network/layout.html" %}

{% block body %}
    <div id="title">
        <h1 id="title-text"></h1>
    </div>
    <div id="followers">
        <h4 id="followers-text"></h4>
        <h4 id="following-text"></h4>
    </div>
    <div id="index-container" class="container">
        {% if user.is_authenticated %}
            <div id="new-post" class="item">
                <form id="new-post-form" class="sub-item">
                    {% csrf_token %}
                    <div class="form-group">
                        <h4><label for="new-post-input">New Post</label></h4>
                        <textarea id="new-post-input" class="form-control"></textarea>
                        <input class="btn btn-primary" type="submit" value="Post">
                    </div>
                </form>
            </div>
        {% else %}
            <div id="please-login" class="item">
                <h5>Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Register</a> to submit a new post</h5>
            </div>
        {% endif %}
        <div id="all-posts" class="item">
        </div>
    </div>
{% endblock %}